<div class="row">
  <h1 style="text-align:center">Sensors ({{ totalSensors }}) </h1>
</div>
<div class="row">
  <div class="col-sm-3">
    <ul>
    {{#each sensor in controller}}
    <li>
      {{#link-to "sensor" sensor}}
        {{sensor.name}}
      {{/link-to}}
    </li>
    {{/each}}
    </ul>
  </div>

  <div class="col-sm-8">
    {{ outlet }}
  </div>
</div>
